/* Color and fonts */

body{
	background: #EDEDED;
	color: rgb(50, 50, 50);
	font-family: 'Cabin', sans-serif;
	font-size: 17px;
}

h1,h2,h3{
	font-family: 'Bitter', serif;;
}

h1{
	color: #6C4A4A;
	font-size: 32px;
	font-weight: 700;
}

h2{
	color: #955C6B;
	font-size: 24px;
	font-weight: 600;
}

a{
	text-decoration: none;
	color: #C89595;
	font-weight: bold;

}
a:hover{
	color: #DDBEBE;
}



/*Custom design with class*/


.container{
	width: 700px;
	margin: 40px auto;
}


@media (max-width: 760px){
	.container{
		width: 600px;
	}
}
@media (max-width: 500px){
	.container{
		width: 400px;
	}
}


.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	margin: 20px;
	border-radius: 4px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-pink{
	background-color: #C89595;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
}

.btn-pink:hover{
	color: white;
	background-color: #DDBEBE;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
}


/*Design adjustment */

#intro p{
	margin-bottom: 40px;
}





